<div class="container-form">
  <form class="item-container" method="POST" action="/cad/ferr">
    <div class="item-form">
      <h3>Cadastrar novo equipamento</h3>
      <div class="img">
        <img src="/img/semfoto.png" alt="" width="100px">
        <h4>Sem Imagem</h4>
      </div>
      <p>Nome do equipamento</p>
      <input type="text" name="fer" required>
      <p>Quantidade disponível</p>
      <input type="number" name="quantidade" required>
      <button type="submit">Cadastrar</button>
    </div>
  </form>
</div>