<div class="container">
  <div class="item-container">
    {{#each ferramentas}}
    <div class="item">
      <h3>{{this.nome_fer}}</h3>
      <form action="/alug" method="post">
      <input type="hidden" name="ferId" value="{{this.id}}">
      <input type="submit" value="Requisitar">
      </form>
    </div>
    {{/each}}
    
</div>