<div class="container">
  <div class="item-container">
    {{#each ferramentas}}
    <div class="item">
      <h3>{{this.nome_fer}}</h3>
      <button>Requisitar</button>
    </div>
    {{/each}}
    
</div>