<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="userLogin">Usuário</label>
        <input type="text" name="userLogin" required>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" name="password" required>
      </div>
      <button type="submit">Entrar</button>
    </form>
    <p>Não tem conta? <a href="/sign">Clique aqui!</a></p>
  </div>